<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Prime Number Checker</title>
    <link rel="stylesheet" href="/public/site.css" type="text/css">
</head>
<body>
    <h2>Not Found</h2>      
   <p class="error">URL not valid or could not be found</p>  
</body>
</html>
