<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title id="Title-tag">Prime Number Checker</title>
    <link rel="stylesheet" href="/public/site.css" type="text/css">
</head>
<body>
    <div id="section1">
    <h1 class="headerTag">Prime Number Checker</h1>
    <div class ="inputSection">

        <label for="primeNumber" id="InputNumber">Enter Number:</label>
        <input type= "Number" id="primeNumber" name="number" placeholder="Input Number">

    </div> 
    <div class="Submit-btn">
        <button type="submit" class="button">Submit</button>
    </div>
    <div id="errorSection">        

        <ol id="attempts"></ol> 
        <label  class="error" id="errortext"> </label>        
    </div>

    <footer class="Footer-Section">
        <p>
            <span class="Name-Details">Name: Vedant Soni</span><br>
            <span class="Student-Details">CWID: 10441291</span><br>
            <span class="Class-Details">CS-546-B</span><br>
            <span class="Assignment-Details">Using HTML, CSS, and JavaScript on the user's browser to make a simple Prime Number checker!</span>
            
        </p>
    </footer>
    </div>

    <script src="../public/server.js"></script>
   
</body>
</html>